*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}

html{
    font-size: 62.5%;
}

.background{
    width: 100%;
    height: 100vh;
    background-color: black;
}

.left-pad,.right-pad{
    height: 10%;
    width: 1.5rem;
    background-color: aliceblue;
    position: absolute;
}

.right-pad{
    margin-left: 142.5rem;
}